@import "bootstrap";
@import "bootstrap-icons";

body {
  background-color: #141414;
}

header {
  background-color: #0b0b0b;
  color: #e40914;
  .navlink {
    text-decoration: none;
  }
  .active {
    color: white;
  }
  .inactive {
    color: #595959;
  }
}

footer {
  .social-links {
    a {
      color: rgba(255, 255, 255, 0.815);
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    a {
      text-decoration: none;
      color: #595959;
      &:hover {
        color: #ababab;
      }
    }
  }
  .serviceCode {
    padding: 0.3rem;
    color: #595959;
    border: 1px solid #595959;
    &:hover {
      color: #ababab;
      cursor: pointer;
    }
  }
  span {
    color: #595959;
  }
}

.detailsContainer {
  height: 100%;
  h1 {
    color: white;
  }
  img {
    height: 300px;
  }
  .details {
    margin-top: 3.2rem;
    strong {
      color: white;
      font-weight: 500;
    }
    p {
      color: rgb(172, 168, 168);
    }
  }
}

.reviewsContainer {
  color: rgb(172, 168, 168);
  h3,
  strong {
    color: white;
  }
  .reviewWrapper {
    padding: 1rem;
    margin: 1rem 0rem;
    border: 1px solid white;
  }
}
